@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}
 
.wrapper {
    background: linear-gradient(90deg,rgba(25, 106, 255, 1) 0%, rgb(255, 255, 255) 100%);
    width: 100%;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
display: inline-block;
}

header nav ul li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: #3D81FF;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: -15px;
}

header nav ul li a{color:#fff 
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #3D81FF;
}

header nav ul li.btn a {
    background:#3D81FF;
    padding: 9px 17px;
    border-radius: 5px;
    transition:all 500ms ease;
}

header nav ul li.btn a:hover {
     background:#011e53 ;
}

.hero {
    padding-bottom:100px;
    position: relative;
}

.hero--info {
    width: 530px;
    padding-top: 70px;
}

.hero--info h2 {
    color: #011e53;
    font-size: 20px;
    font-weight: 800;
}

.hero--info h1 {
    font-size: 60px;
    font-weight: 800;
}

.hero--info p {
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn {
    background: #1546a1;
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition:all 500ms ease;
    font-size: 17px;
}

.hero--info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hero img {
    position: absolute;
    top: 300px;
    right: 0;
}

.trending {
    padding-top: -50px;
}

.trending h3 {
    font-weight: 600;
    font-size: 31px;
}

.trending .see-all {
    color: #fff;
    background:#3D81FF;
    border-radius: 5px;
    padding: 12px 23px;
    float: right;
    display: block;
    transition: all 500ms ease;
}

.trending .see-all:hover {
    transform: scale(1.1);
}

.trending .cyber {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}

.trending .cyber span {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.trending .cyber span img {
    position: relative;
    top: 5px;
    margin-right: 7px;
}

.big-text {
    padding: 50px 0;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    width: 800px;
}

.banner {
    padding: 80px 0;
}

.banner p {
    line-height: 170%;
    margin-bottom: 30px;
    width: 800px;
    font-weight: 700;
    text-align: left;
}

.banner img {
    position: absolute;
    top: 2150px;
    left: 1250px;
}

.banner2 img {
    width: 100%;
    margin-bottom: 30px;
}

.text{
    padding: 50px 0;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    width: 800px;
}

audio {
    padding: 50px 0;
    position: relative;
    right: -200px;
}

.btn2 {
    background: #1546a1;
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition:all 500ms ease;
    font-size: 17px;
    position: relative;
    right: -875px;
}

.btn2:hover {
    cursor: pointer;
    transform: scale(1.1);
}
